<!DOCTYPE html>
<body>
    <div class="container"> <tr>
        <app-table 
         studName ="Emily Johnson"
         studYear ="1st year"
         studGrades = "90"
        >

        </app-table>
        <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
       <app-table 
        studName ="James Anderson"
        studYear ="1st year"
        studGrades = "92"
       >

       </app-table>
    </tr></div>
  </body> 
    <style>
        .container {
            max-width: 1200px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            padding-left: 250px;
            align-items: right;
        }
    </style>


