<!DOCTYPE html>
<body>
    <div class="container"> <tr>
       
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
        <app-table 
        studName ="Emily Johnson"
        studYear ="ITPC1"
        studGrades =" "
       >

       </app-table>
   
       <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
        <app-table 
         studName ="Emily Johnson"
         studYear ="ITPC1"
         studGrades =" "
        >

        </app-table>
    
    <style>
        .container {
            max-width: 1200px;
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            padding-left: 250px;
            align-items: right;
        }
    </style>
