<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
</head>
<body >
    <header>
        <a href="http://localhost:4200/manage/students" > Student</a>
        <a href="http://localhost:4200/manage/teachers" >Teachers</a>

    </header>
    <h1 >Welcome to User Management</h1>
    <div><h3>ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptate accusamus quos perspiciatis at neque praesentium aperiam recusandae obcaecati ea explicabo, <br>eligendi beatae eaque quae ducimus sint doloribus reprehenderit laborum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Deleniti error amet officiis reiciendis magni quaerat ipsum nostrum? Quia beatae cupiditate est omnis quasi quidem maiores, fugit perferendis,<br> corporis facilis repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod non expedita quia! Doloribus molestias illo, <br>necessitatibus atque odio sint quae consequatur, expedita illum blanditiis animi, fuga accusantium! Repellat, autem?</h3> </div>

</body>
<style>
    body{
        padding-left: 200px;

    }
    header {
            background-color: #333;
            z-index: 1;
            text-align: right;
            padding: 20px;
        }
        a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
       
       
    }
</style>
</html>
