td{
    align: "right";
    background-color: #fff;
    padding-left: 70px;
    border: 1px solid #ddd;
    width: 20%;
    margin: 10px;
        
}
.td-studentName{
    font-size: 34px;
}
.td-yearLvl{
    font-size: 30px;
}
img{
    width: 90px;
    height: 90px;
    padding-left: 70px;
}